# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cise-react-learn/node_modules
/my-nest-project/node_modules
/.pnp
.pnp.js
# tutorial 2

/cise_ass1a_worksheet2/cise_ass1a_worksheet2/node_modules
/cise_ass1a_worksheet2/cise_ass1a_worksheet2/.env
/cise_ass1a_worksheet2/cise_ass1a_worksheet2-frontend/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# remvoing .vscode.
.vscode
# nest JS
